@let _cars = cars();

Model:
<select (change)="onChanged($event,modelFilter)">
  <option value="">all</option>
  @for (model of models(); track model) {
    <option value="{{ model }}">{{ model }}</option>
  }
</select>

Color:
<select (change)="onChanged($event,colorsFilter)">
  <option value="">all</option>
  @for (color of colors(); track color) {
    <option value="{{ color }}">{{ color }}</option>
  }
</select>

Color:
<select (change)="onChangedYear($event)">
  <option value="0">all</option>
  @for (year of years(); track year) {
    <option value="{{ year }}">{{ year }}</option>
  }
</select>


Search:
<input [formControl]="searchControl" type="text">


@if (_cars) {
  <table>
    <tr>
      <td>Name</td>
      <td>Model</td>
      <td>Color</td>
      <td>Year</td>
    </tr>
    @for (_car of _cars; track _car.name) {
      <tr>
        <td>{{ _car.name }}</td>
        <td>{{ _car.model }}</td>
        <td>{{ _car.color }}</td>
        <td>{{ _car.year }}</td>
      </tr>
    }
  </table>
}
